name: Or condition demo
on: push
jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: Debug actor
        run: echo "Actor is ${{ github.actor }}"
        
      - name: Run for natesan or gowcy
        if: ${{ github.actor == 'natesan750' || github.actor == 'Gowcy' }}
        run: echo "It is triggered by either Natesh or Gowcy"
